.test{
  text-align: center;
}

.row {
	paddin-top: 10px;
	padding-bottom: 10px;
}
.col-border {
	border: 1px solid $gray-lighter;
	padding: 20px;
}

.top-border-orange {
	border-top: 8px solid $typo3-orange;
}

.typo3.btn {
	border-radius: 0;
}