/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/


//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);


@font-face {
  font-family: "Source Sans Pro";
  src:url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format("truetype");
}


@font-face {
  font-family: "Source Code Pro";
  font-weight: normal;
  src:url(Fonts/Source_Code_Pro/SourceCodePro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Share";
  font-weight: normal;
  src:url(Fonts/TYPO3_Share_Complete/Share-OTF/Share-Regular.otf) format("opentype");
}
