.col-border p{
  text-align: left;
}
.row .col-border h3{
  flex:0;
}
.top-border-orange{
  margin-top: 30px;
}
.btn-group{
  .btn{
    min-width: 10%;
    &.is-checked{
      background-color: $typo3-orange-dark;
    }
  }
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
