.task{
  padding: 15px;
  background-color: $grey-superlight;
  border: solid 5px white;

  .task-category{
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    &.category-development{
      background-color: white;
      background-image: url("../Icons/categories/iconmonstr-code.svg");
    }
    &.category-marketing{
      background-color: white;
      background-image: url("../Icons/categories/iconmonstr-speech-bubble.svg");
    }
    &.category-translation{
      background-color: white;
      background-image: url("../Icons/categories/iconmonstr-language.svg");
    }
    &.category-design{
      background-color: white;
      background-image: url("../Icons/categories/iconmonstr-paintbrush.svg");
    }
    &.category-text{
      background-color: white;
      background-image: url("../Icons/categories/iconmonstr-text.svg");
    }
  }

  .task-title{
    font-size: 18px;
    font-weight: 600;
  }
  .task-due-date{
    margin-left: 55px;
    color: $grey-light;
  }



  &.assigned{
    min-height: 30%;

    .task-category {
      height: 30px;
      width: 30px;
      margin-right: 25px;
      float: left;
      display: block;
      background-position: center;
      background-repeat: no-repeat;

    }

    .task-info{
      width: 69%;
      float: left;
    }



    .agency{
      width: 30%;
      float: right;

      .task-agency-logo{
        width: 25%;
        height: auto;
        float: right;
      }

      .task-agency-name{
        float: left;
        width: 70%;
        margin-bottom: 5px;
      }
    }

  }


}

